<section class="details">
    <h3>Movie Title: {{movie.name}}</h3>

    <div class="movieDetails">

        <div class="moviePoster">
            <img src="{{movie.img}}">
        </div>
        <div class="movieInfo">
            <p>{{movie.description}}</p>

            {{#if creator}}
                <a href="/edit/{{movie._id}}" class="editBtn">Edit</a>
                <a href="/delete/{{movie._id}}" class="delBtn">Delete</a>
            {{else}}
                {{#unless isLiked }}
                    <a href="/like/{{movie._id}}" class="likeBtn">Like</a>
                {{/unless}}
            {{/if}}
            
        </div>

    </div>

</section>